<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner1.jpg" %>');">
  <div class="container">
    <h1>We help you prepare your meal!</h1>
    <ul>
      <li>Save time</li>
      <li>Save money</li>
      <li>Use ingredients you have at home</li>
    </ul>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-info" %>
  </div>
</div>
