<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner1.jpg" %>');">
  <div class="container">
    <h1>We help you prepare your meal!</h1>
    <ul>
      <li>Save time</li>
      <li>Use ingredients you have at home</li>
      <li>Save your favorite recipes </li>
    </ul>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-info" %>
  </div>
</div>
<div>
<div class="container-card">
  <div class="card-home" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">We create</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Save time and money</h6>
      <p class="card-text">We create a recipe using ingredients you have at home. </p>
    </div>
  </div>
  <div class="card-home" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Cookbook</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Save your recipes</h6>
      <p class="card-text">You can upload and save your favorite recipes. </p>
    </div>
  </div>
  <div class="card-home" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Share</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Connect to people</h6>
      <p class="card-text">You can share your recipes with your friends and family.</p>

    </div>
  </div>
</div>