// .simple_form {
//   max-width: 480px;

//   input, textarea {
//     border-radius: 6px;
//     border: 1px solid #ccc;
//     padding: 8px;
//   }

//   .button {
//     margin-top: 12px;
//   }
// }
